@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  color: #5a5a5a;
  font-family: "Oxygen", sans-serif !important;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

header .navbar {
  align-items: start !important;
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
}

#logo {
  filter: drop-shadow(1px 1px 1px #555);
}

.logoBig {
  margin-top: 0;
  width: 110px;
  height: auto;
}

.logoSmall {
  width: 65px;
  height: auto;
  margin-top: -7px;
}

h1 {
  font-size: 1.5rem !important;
}

h2 {
  font-size: 1.3rem !important;
}

h3 {
  font-size: 1.2rem !important;
}

a:hover {
  text-decoration: none;
}

.active {
  color: white;
}

.navColor {
  background-color: rgba(46, 46, 46, 0.9) !important;
}

.section-slider, .section-header {
  font-size: 1.9rem;
  overflow: hidden;
  position: relative;
}
.section-slider .uk-slideshow-items img, .section-header .uk-slideshow-items img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: relative;
  z-index: -1;
  display: block;
}
.section-slider .pickgradient, .section-header .pickgradient {
  display: inline-block;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6000000", endColorstr="#00000000", GradientType=0);
  /* IE6-9 */
}

.section-slider .uk-overlay {
  padding: 40px 56px 40px 56px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.section-slider .uk-overlay2 {
  position: absolute;
  z-index: 6 !important;
  width: 130px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.42) !important;
}

.section-one, .section-two, .section-three, .section-form, .section-miniservices {
  margin-top: 110px;
  padding: 0 100px 0 100px;
}
.section-one p, .section-two p, .section-three p, .section-form p, .section-miniservices p {
  font-size: 0.9rem;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 300px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: -320px;
  background-color: #bd1225;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 120px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav {
  /* When you mouse over the navigation links, change their color */
}
.sidenav a {
  padding: 0 50px 0px 0;
  margin-bottom: 35px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  height: auto;
}
.sidenav ul {
  margin: 0;
}
.sidenav ul li:first-child a {
  right: -5px;
}
.sidenav ul li:last-child a {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sidenav a:hover {
  color: #292929;
}

/* menu lateral show, control in js file */
.is-active {
  right: 320px !important;
  margin-right: -320px !important;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
}

.nav-link {
  padding-right: 20px !important;
}

.dropdown-menu {
  padding: 0;
  top: 40px;
  background-color: rgba(24, 24, 24, 0.91) !important;
  width: auto !important;
}
.dropdown-menu .dropdown-item {
  padding: 17px !important;
  margin: 0 !important;
  font-size: 0.8rem !important;
  font-weight: bold !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #6d6d6d;
}

#main {
  top: 0;
  right: 200px;
}
#main .navbar-toggler {
  display: block;
  border-color: white;
  padding-left: 9px !important;
  padding-right: 9px !important;
}
#main .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-inline {
  padding-right: 52px;
}
.form-inline a {
  margin-left: 20px !important;
}

hr {
  width: 80%;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.uk-card {
  height: auto;
}
.uk-card .uk-card-body, .uk-card .uk-article {
  padding: 40px;
}
.uk-card .uk-card-body h3, .uk-card .uk-article h3 {
  padding-bottom: 7px;
}
.uk-card img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.section-two .uk-card img {
  width: 105px;
  height: 105px;
}

.section-three ul li img {
  width: 155px;
  height: 45px;
  filter: drop-shadow(1px 1px 1px #999);
  object-fit: contain;
}
.section-three .uk-slider-nav {
  position: relative;
  bottom: -27px !important;
  margin: 0 !important;
  flex-wrap: nowrap;
}

.section-one .uk-card:hover img,
.section-miniservices .uk-card:hover img {
  opacity: 0.8;
}

.section-miniservices {
  margin-top: 130px;
  margin-bottom: 130px;
}
.section-miniservices .uk-card {
  border: 1px solid #2e2e2e;
}
.section-miniservices img {
  height: 200px !important;
}
.section-miniservices .uk-overlay {
  text-align: center;
}

.section-header {
  height: 600px !important;
}
.section-header .uk-slideshow-items img {
  height: 600px !important;
  object-position: 70% 35%;
}
.section-header .uk-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.section-form a:hover {
  color: #bd1225 !important;
}
.section-form .cv {
  margin-top: 110px;
}
.section-form .cv div img {
  object-fit: cover;
}

.custom-control-label a:hover {
  color: #bd1225 !important;
}

.divButtonPresupuesto {
  margin-top: 75px !important;
}
.divButtonPresupuesto h1 {
  color: #bd1225;
}
.divButtonPresupuesto button:hover h1 {
  color: white !important;
}
.divButtonPresupuesto button:hover {
  background-color: #bd1225;
}
.divButtonPresupuesto button {
  border: 3px solid #bd1225 !important;
}

.modal .btn-primary:hover {
  background-color: #5a5a5a;
}

.imgProduct {
  margin-top: 90px;
  margin-bottom: 0;
}
.imgProduct img {
  width: 75%;
}

.uk-card-title {
  margin-bottom: 7px;
}

.float, .float2 {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float2 {
  right: 90px;
  background-color: #808080;
}

.my-float {
  margin-top: 16px;
}

.d-noneW {
  display: none;
}

.uk-label {
  background-color: #bd1225 !important;
}

#div-cookies {
  display: none;
}
#div-cookies a:hover {
  color: #5a5a5a;
}

/*********************************
    Footer
*********************************/
.mtop140 {
  margin-top: 140px !important;
}

.section-footer {
  padding-bottom: 40px;
  margin-top: 0px;
  border-top: 15px solid #bd1225;
}

.footer_content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer_logo a {
  display: inline-block;
  position: relative;
}

.footer_bar {
  height: auto;
  padding: 10px 10px 0 10px !important;
}

.copyright {
  font-size: 13px;
  font-weight: 700;
  color: #6d6d6d !important;
}
.copyright a {
  color: #6d6d6d !important;
}
.copyright a:hover {
  color: #bd1225 !important;
}

.footer_row {
  margin-top: 59px;
}

.footer_icon {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: #2e2e2e;
}

.footer_icon > div {
  width: 42px;
  height: 42px;
}

.footer_icon > div img {
  max-width: 100%;
  max-height: 100%;
}

.footer_title {
  margin-top: 33px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.footer_list {
  margin-top: 25px;
}

.footer_list ul li:not(:last-of-type) {
  margin-bottom: 15px;
}

.footer_list ul li {
  font-weight: bold;
  color: #6d6d6d;
}

.footer_logo {
  margin-top: -104px;
}

/* button return to top*/
#return-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.fadeOut {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  height: 0rem;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 3rem;
}

article a.collapsed::after {
  content: "+ Leer más";
}

article a:not(.collapsed)::after {
  content: "- Leer menos";
}

.imgArticle {
  width: 75% !important;
  height: 75% !important;
  object-fit: cover;
}

/* css para movil o tablet*/
@media only screen and (min-width: 0px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) {
  header .navbar {
    padding-left: 25px;
    padding-right: 25px;
  }

  .section-slider img, .section-header img {
    object-position: 80% 50%;
  }
  .section-slider h1, .section-header h1 {
    font-size: 1.4rem;
  }

  .section-slider .uk-overlay2 {
    left: 25px !important;
  }

  .form-inline {
    padding-right: 38px;
  }

  #mySidenav {
    padding-top: 110px !important;
  }

  .sidenav a {
    padding: 0px 36px 0 0;
  }

  .nav-link {
    padding-right: 6px !important;
  }

  .section-one, .section-two, .section-three, .section-form, .section-miniservices {
    padding: 0 20px 0 20px;
  }
  .section-one p, .section-two p, .section-three p, .section-form p, .section-miniservices p {
    font-size: 1rem;
  }

  .section-three ul li img {
    width: 130px;
    height: 35px;
    filter: drop-shadow(1px 1px 1px #999);
    object-fit: contain;
  }

  .section-header {
    height: 450px !important;
  }
  .section-header .uk-slideshow-items img {
    height: 450px !important;
  }

  .uk-card-body, .uk-article {
    padding: 22px !important;
  }

  .d-noneW {
    display: initial;
  }

  .section-footer {
    padding-bottom: 135px;
  }
  .section-footer .footer_col {
    padding-top: 25px;
  }

  #return-to-top {
    bottom: 110px;
  }

  .imgProduct img {
    width: 100%;
  }

  .imgArticle {
    width: 100%;
    object-fit: contain;
  }
}
@media only screen and (min-width: 0px) and (max-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {
  .section-one, .section-two, .section-three, .section-form, .section-miniservices {
    padding: 0 10px 0 10px;
  }

  .uk-card-body {
    padding: 33px 20px 33px 20px !important;
  }

  #mySidenav {
    padding-top: 90px !important;
  }

  .sidenav ul {
    padding-bottom: 0px !important;
  }
  .sidenav a {
    margin-bottom: 25px !important;
  }
}

/*# sourceMappingURL=main.css.map */
